@import url("bebasneue/stylesheet.css");
html, body
	{
		height: 100%;
	}

body {
	font-family: bebasneue;
	font-size: 5em;
	color: #000;
	background-color: #000;
	background-image: url(../img/bk.jpg);
	background-repeat: no-repeat;	
}

nav {
	/*font-size: 4em;*/
 	font-weight: 500;
 	border-top: none;
 	padding: 10px 0;
}

nav ul {
	width: 500px;
	height: auto;
	margin-bottom:auto;
	margin-left:60px;
	margin-top:125px;
	padding:0px;
	list-style:none;
	line-height: 70px;
}

nav ul li {
	width: 500px;
	height: auto;
	display:block;
}

nav ul li a:link,a:visited {
	width: 500px;
	height: auto;
	/*background:#0FC;*/
	display: block;
	text-decoration:none;
	color: rgba(255,255,255,1);
}

nav ul li a:hover {
	background: rgba(255,255,255,1);
	color:rgba(0,0,0,1);
}

nav ul li a:active {
	background:rgba(204,204,204,1);
}

form {
	text-align:center;
	margin:125px 20%;
	padding:10px 10px 10px 10px;
	
	
}

.backhome {
	font-family: bebasneue, helvetica, sans-serif;
	font-size:0.5em;
	text-align: left;
	float: right;
	margin-left: 20px;
}

.backhome a:link,a:visited {
	
	width: auto;
	height: auto;
	/*background:#0FC;*/
	display: block;
	text-decoration:none;
	color: rgba(255,255,255,1);
}

.backhome a:hover {
	background: rgba(255,255,255,1);
	color:rgba(0,0,0,1);
}

.backhome a:active {
	background:rgba(204,204,204,1);
}


div#footer {
	font-size: 0.2em;
	padding:0.5em; 
	color: #FFF; 
	text-align: right;
			
			
}

div#lb {
	margin: 0 2em;
	padding:0;
	display:inline-block;
	float:none;
	text-align:center;

}
	
	
	
	
